# Development Environment Configuration
APP_ENV=dev

# Database Type (postgres or opensearch)
DATABASE=postgres

# Database (Docker PostgreSQL)
DATABASE_URL=postgresql://username:password@your-db-host:5432/your_database_name

# Database (Docker OpenSearch)
OPENSEARCH_HOST=localhost
OPENSEARCH_PORT=9200
OPENSEARCH_USER=admin
OPENSEARCH_INITIAL_ADMIN_PASSWORD=your_opensearch-password
OPENSEARCH_URL=your_opensearch_url

# S3 Settings (not used in dev, but kept for compatibility)
S3_PATH=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_ENDPOINT_URL=

# LLM Configuration
LLM_API_URL=your_llm_api_url
LLM_API_KEY=your_llm_api_key
LLM_MODEL=gemini-2.0-flash

# TTS Configuration
TTS_API_URL=your_tts_api_url
TTS_API_KEY=your_tts_api_key
TTS_MODEL=zalo-tts-vi
TTS_SPEAKER_ID=1
TTS_SPEED=1.0
TTS_ENCODE_TYPE=1

# GEMINI TTS Configuration
GEMINI_TTS_API_URL=your_gemini_tts_api_url
GEMINI_TTS_API_KEY=your_gemini_api_key
GEMINI_TTS_VOICE_LANGUAGE_CODE=vi-VN
GEMINI_TTS_VOICE_NAME=vi-VN-Standard-C
GEMINI_TTS_AUDIO_ENCODING=MP3
GEMINI_TTS_SPEAKING_RATE=1.0
GEMINI_TTS_PITCH=0.0
GEMINI_TTS_SAMPLE_RATE_HERTZ=24000

# Embedding Configuration
EMBEDDING_API_URL=your_embedding_api_url
EMBEDDING_API_KEY=your_embedding_api_key
EMBEDDING_MODEL_NAME=your_embedding_model_name
EMBEDDING_MAX_TOKENS=512

# Huggingface Configuration
HF_TOKEN=your_huggingface_token

# Application Settings
LOG_LEVEL=INFO
LOG_DIR=~/logs/trung-nguyen-chatbot
