# --- ConfigMap ---
# Development Environment Configuration
APP_ENV=prod

# Database Type (postgres or opensearch)
DATABASE=postgres

# Application Settings
LOG_LEVEL=INFO
LOG_DIR=/app/logs

# LLM Configuration
LLM_MODEL=gpt-4o-mini

# TTS Configuration
TTS_MODEL=zalo-tts-vi
TTS_SPEAKER_ID=1
TTS_SPEED=1.0 
TTS_ENCODE_TYPE=1

# GEMINI TTS Configuration
GEMINI_TTS_VOICE_LANGUAGE_CODE=vi-VN 
GEMINI_TTS_VOICE_NAME=vi-VN-Standard-C 
GEMINI_TTS_AUDIO_ENCODING=MP3
GEMINI_TTS_SPEAKING_RATE=1.0 
GEMINI_TTS_PITCH=0.0
GEMINI_TTS_SAMPLE_RATE_HERTZ=24000 

# Embedding Configuration
EMBEDDING_MAX_TOKENS=8190

# S3 Settings
S3_PATH=your_s3_path
S3_ENDPOINT_URL=your_s3_endpoint_url # Update with your s3 endpoint url

# --- Secret ---
# Database (Docker PostgreSQL)
DATABASE_URL=postgresql://username:password@your_database_host:your_database_port/your_database_name

# Database (Docker OpenSearch)
OPENSEARCH_URL=https://username:password@your_opensearch_host:your_opensearch_port

# LLM Configuration
LLM_API_URL=your_llm_api_url 
LLM_API_KEY=your_llm_api_key 

# TTS Configuration
TTS_API_URL=your_tts_api_url 
TTS_API_KEY=your_tts_api_key 

# Gemini TTS Configuration
GEMINI_TTS_API_URL=your_gemini_tts_api_url 
GEMINI_TTS_API_KEY=your_gemini_tts_api_key 

# Embedding Configuration
EMBEDDING_API_URL=your_embedding_api_url 
EMBEDDING_API_KEY=your_embedding_api_key 
EMBEDDING_MODEL_NAME=your_embedding_model_name 

# Huggingface Configuration
HF_TOKEN=your_huggingface_token

# S3 Settings
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key 