aiofiles
bs4
boto3
fastapi
ffmpeg-python
huggingface_hub[cli]
google.genai
google-generativeai
langchain
langchain-community
langchain-postgres
markdown-crawler
markdownify
openpyxl
opensearch-py 
psycopg
psycopg[binary]
psycopg2-binary
pydub
pydantic-settings
python-dotenv
python-json-logger
SQLAlchemy
streamlit
transformers
uvicorn