aiofiles
bs4
boto3
fastapi
huggingface_hub[cli]
langchain
langchain-postgres
markdown-crawler
markdownify
openpyxl
psycopg
psycopg[binary]
psycopg2-binary
pydantic-settings
python-dotenv
python-json-logger
SQLAlchemy
streamlit
transformers
uvicorn